html {
	background: #f0f0f0;
}

body {
	padding: 2cm 4cm 1cm 3.6cm;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	color: #222;
	line-height: 1.3em;
	width: 36em;
	margin: auto;
	background: white;
}

h1 {
	font-size: 24pt;
	margin-bottom: 1em;
}

h2, section h1 {
	font-size: 18pt;
}

h3, section section h1 {
	font-size: 14pt;
}

article, section {
	margin-bottom: 2em;
}

p + p {
	margin: 1em 0;
}

code, pre {
	font-size: 11pt;
}

table {
	min-width: 50%;
	margin: 1em 0 2em;
	border-spacing: 0;
}

table caption {
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0.5em;
}

td {
	padding: 0 0.5em 0.2em;
	vertical-align: top;
}

td:first-child {
	padding-left: 0;
}

th {
	text-align: left;
}

dt {
	font-weight: bolder;
	font-size: 90%;
}

dd {
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

ul, ol {
	padding: 0;
	margin-left: 1.5em;
}

.tab {
	display: inline-block;
	margin-left: 2em;
}

/*
 * "Display" paragraph.
 */
.disp {
	margin-left: 3em;
}

.command > h1:before {
	content: "\2022";
	margin-right: 0.3em;
}

.command {
	margin: 2em 0 1em;
}

.toc {
	margin: 0 0 4em;
}

.toc > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
